body {
    padding-top: 1em;
    font-family: sans-serif;
    color: #333;
}

#lobby-screen,
#enemy-screen,
#intro-screen {
    max-width: 420px;
    text-align: center;
}

#enemy-screen h2,
#intro-screen h2 {
    padding: 0 15px;
}
#intro-screen button {
    font-size: 3.4em;
    padding: 3% 6%;
    margin: 0 4%;
}
#enemy-screen button {
    display: block;
    margin: 0.6em auto;
    font-size: 1.9em;
    padding: 0.2em 0.4em;
}

span .player.status-available {
    background-color: #34f012;
}

span.player.status-inGame {
    background-color: #f02112;
}

table {
    max-width: 420px;
    max-height: 420px;
    width: 85vw;
    height: 85vw;
    border-spacing: 4px 2px;
}
td {
    padding: 0;
    width: 33%;
    height: 33%;
}
.cell {
    font-size: 3.4em;
    font-size: 6vmin;
    height: 100%;
    width: 100%;
}
.wincell {
    background-color: #c88;
}
.player-two {
    color: #933;
}

.minWidth {
    min-width: 300px;
}

button {
    display: flex;
    cursor: pointer;
    border: 2px solid rgb(73, 73, 73);
    color: #333;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
}

#restart {
    font-size: 1.2em;
    padding: 5px 10px;

    margin: 20px auto;
    display: block;
}

.choose,
#restart {
    border-radius: 0.3em;
}
.choose:active,
#restart:active {
    background-color: #ccc;
}
.btn-green {
    background-color: #70d260;
}
.btn-green:active {
    background-color: #60c050 !important;
}

.center {
    margin: 0 auto;
}
.hidden {
    display: none;
}
.cannotuse {
    cursor: not-allowed;
}
